#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,underglow = &led_strip;
        zmk,ext-power = &ext_power;
    };

    /* VBUS 직결 회로 특성상 ZMK 빌드 에러 방지를 위한 가상 Ext-Power 노드 */
    ext_power: ext-power {
        compatible = "zmk,ext-power-generic";
        control-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        init-delay-ms = <50>;
    };

    /* 8개 스위치 다이렉트 핀 연결 (Direct Kscan) */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key1 (SW1) */
            , <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key2 (SW2) */
            , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key3 (SW3) */
            , <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key4 (SW4) */
            , <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key5 (SW5) */
            , <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key6 (SW6) */
            , <&xiao_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* key7 (SW7) */
            , <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;/* key8 (SW8) */
    };

    /* 로터리 엔코더 설정 */
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;   /* KNOB_A (D9) */
        b-gpios = <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  /* KNOB_B (D10) */
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };
};

/* XIAO BLE D0 (P0.02) SPI MOSI - SK6812/WS2812 RGB 제어용 */
&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 2)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 2)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <8>; /* 총 8개 LED */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
